@charset "utf-8";

/*fonts*/
@import url('https://fonts.googleapis.com/css2?family=Passion+One&family=Sriracha&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

/*configuraçao global*/
* {
    margin: 0px;
    padding: 0px;
}
:root {
    --font1: verdana, geneva, tahoma, sans-serif; 
    --font2: 'Passion One', cursive;
    --font3: 'Sriracha', cursive;
}
/*html e body*/
html,body {
    min-height: 100vh;
    background-color: darkgray;
    font-family: var(--font1);
}
/*cabeçalho*/
header {
    background-color: black;
    color: white;
    text-align: center;
    height: 119px;
    padding-top: 39px;
}
header h1 {
    font-variant: small-caps;
    font-family: var(--font2);
    font-size: 6vw;
    color: rgba(255, 255, 255, 0.952);
}
header a {
    color: white;
    font-family: bold;
    text-decoration: none;
}
header a:hover {
    text-decoration: underline;
    transition: .3s;
}
/*todas as section*/
section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 31px;
    font-family: var(--font3);
    font-size: 3.5vw;
}
section p {
    padding-bottom: 2em;
}
/*conteudos com fundo branco*/
section.normal {
    background-color: white;
    color: rgb(0, 0, 0);
}
/*conteudo com magem de fundo*/
section.imagem {
    background-color: rgb(63, 62, 62);
    color: white;
}
section.imagem p {
    background-color: rgba(0, 0, 0, 0.397);
    display: inline-block;
    padding: 9px;
    text-shadow: 1px 1px 1px black;
    box-shadow: inset 3px 3px 9px 1px black;
}
section#img1 {
    background-image: url("../imagens/background001.jpg");
    background-position: right center;
    background-size: cover;
    background-attachment: fixed;
}
section#img2 {
    background-image: url("../imagens/background002.jpg");
    background-position: right center;
    background-size: cover;
    background-attachment: fixed;
}
/*roda pé*/
footer {
    background-color: black;
    color: white;
    text-align: center;
}
